<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recallapp_project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <activity
            android:name="com.example.recallapp_project.splashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.recallapp_project.MainMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.recallapp_project.LoginLayout"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.recallapp_project.ProfileLayout"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.recallapp_project.recommenderActivity"
            android:label="@string/app_name" >
            </activity>
        <activity
            android:name="com.example.recallapp_project.SubCategoryMenu1"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.USDAListActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.SingleUSDAItemActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.FDAListActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.SingleFDAItemActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.NHTSAListActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.SingleNHTSAItemActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.SuppliesListActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.CPSCListActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.SingleOItemActivity"
            android:label="@string/app_name" >
            </activity>
         <activity
            android:name="com.example.recallapp_project.RecentRecallRecords"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.recallapp_project.SingleMenuItemActivity"
            android:label="@string/app_name" >
            </activity>
    </application>
 
    
</manifest>
